/* 

  Put your Custom CSS here 

*/

.content-numbered .post-block {
	position: relative;
	min-height: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 22px 0;
}

.content-numbered .post-block .number {
	font-size: 20px;
	color: #000;
	text-align: center;
	width: 40px;
	height: 40px;
	position: absolute;
	background: #f1f1f1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: 50%;
	left: 0;
	z-index: 11;
	margin-top: -20px;
	line-height: 40px;
	font-style: italic;
}

.content-numbered .post-block .post-title a {
	display: block;
	font-size: 14px;
	padding-left: 50px;
	font-weight: 600;
}

.content-category .attachment img {
	float: left;
	margin: 0 15px 15px 0;
}

.mb-new {
    margin-bottom: 15px;
    
}

.views-field.views-field-created {
	color: #999999;
}

.views-field.views-field-title {
	font-weight: 600;
}

.check-01 {
    clear: both;
}

.article-category {
    margin-top: 16px;
	display: inline-block;
}

.article-category .field--item {
	padding: 4px 8px;
	background: #1974D3;
	display: inline-block;
	margin: 4px 8px 8px 0;
}
.article-category a {
	color: #fff;
}

.field.field--name-field-tags .field--item {
	display: inline-block;
	padding: 4px 8px 8px 8px;
	background: #CCC;
	margin: 8px 8px 8px 0;
}

.image-with-title {
	font-style: italic;
}

